html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  display: block;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.header {
  padding-bottom: 60px;
  margin-bottom: 59px;

  background-color: #f3f7f9;
}

.header__top {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
}

.header__top div {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  position: absolute;
  padding: 13px 55px;

  width: 220px;
  height: 47px;
  border-bottom: 5px solid #b52933;

  background-color: #ee3643;
}

.header__logo:hover,
.header__logo:focus {
  background-color: #ca2c37;
}

.header__search input {
  position: relative;
  margin-left: 220px;

  width: 270px;
}

.search__button {
  position: absolute;
}

.header__menu,
.header__user-menu,
.header__nav-list {
  list-style: none;
  margin: 0;
}

.header__menu {
  display: flex;
  justify-content: flex-end;

  width: 460px;
}

.header__menu a,
.header__nav-list a {
  color: #ffffff;
}

.header__menu a {
  display: block;
  padding: 11px 20px 13px;
  width: 150px;
}

.header__menu a:hover,
.header__menu a:focus {
  background-color: #212a3a;
}

.header__menu a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

a.header__bookmarks {
  padding-top: 11px;
  padding-left: 45px;
}

a.header__cart {
  padding-top: 11px;
  padding-left: 50px;
}

a.header__order {
  padding-top: 11px;
  padding-left: 20px;

  background-color: #63a63e;
}

a.header__order:hover,
a.header__order:focus {
  background-color: #5fbb2d;
}

a.header__order:active {
  background-color: #518534;
}

.header__bottom {
  display: flex;
  justify-content: flex-start;
}

.header__title {
  margin: 0;
  padding-top: 48px;
  padding-left: 53px;
  width: 250px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

.header__contacts {
  padding-top: 45px;
  margin-left: 70px;
  margin-bottom: 39px;
}

.header__tel {
  display: block;
  padding: 9px 45px 9px 72px;
  width: 270px;
  border: 3px solid #ffffff;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header__address {
  padding-top: 5px;
  padding-left: 10px;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header__user-menu {
  display: flex;
  justify-content: space-between;

  margin-left: 60px;
  padding-left: 0;
  padding-top: 58px;
}

.header__user-menu a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header__login-link {
  margin-left: 10px;
  padding: 11px 25px 10px 45px;
}

.header__registration {
  margin-left: 15px;
  padding: 11px 25px 10px 20px;
}

a.header__my-orders,
a.header__account {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.header__user-menu a:hover,
.header__user-menu a:focus {
  color: #ee3643;
}

a.header__profile:hover,
a.header__profile:focus {
  color: #000000;
}

.header__user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__nav {

  background-color: #32425c;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 21px 25px 15px;

  width: 940px;
  border-bottom: 5px solid #293449;
}

.header__nav-item {
  padding: 20px 30px 16px;
  border-bottom: 5px solid #293449;

  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
}

.header__nav-item:hover,
.header__nav-item:focus {
  background-color: #293449;
}

.header__nav-item:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.features {
  margin-bottom: 33px;

  color: #ffffff;
  background-color: #ffffff;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.features__item {
  position: relative;
  margin-bottom: 20px;
  width: 300px;
  height: 123px;
}

.features__item h3 {
  margin: 0;
  padding: 20px 22px 13px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.features__item a {
  display: block;
  margin-left: 24px;
  padding: 10px;
  text-align: center;
  width: 137px;
  border-radius: 3px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.features__item a:hover,
.features__item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.features__item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features__item--1 {
  background-color: #ffbf47;
}

.features__item--1:before {
  content: "";
  position: absolute;
  top: 31px;
  right: 22px;
  width: 65px;
  height: 80px;

  background: url(../img/icon-1.svg) no-repeat 0 0;
}

.features__item--2 {
  background-color: #3bbce3;
}

.features__item--2:before {
  content: "";
  position: absolute;
  top: 33px;
  right: 23px;
  width: 80px;
  height: 80px;

  background: url(../img/icon-2.svg) no-repeat 0 0;
}

.features__item--3 {
  background-color: #dc91d8;
}

.features__item--3:before {
  content: "";
  position: absolute;
  top: 31px;
  right: 29px;
  width: 80px;
  height: 80px;

  background: url(../img/icon-3.svg) no-repeat 0 0;
}

.features__item--4 {
  background-color: #8ed78f;
}

.features__item--4:before {
  content: "";
  position: absolute;
  top: 26px;
  right: 24px;
  width: 80px;
  height: 80px;

  background: url(../img/icon-4.svg) no-repeat 0 0;
}

.features__item--5 {
  background-color: #ffc047;
}

.features__item--5:before {
  content: "";
  position: absolute;
  top: 32px;
  right: 29px;
  width: 80px;
  height: 80px;

  background: url(../img/icon-5.svg) no-repeat 0 0;
}

.slider__arrow {
  position: absolute;
}

.slider__item {
  width: 620px;
  height: 266px;
  padding: 20px;
  margin: 0;
}

.slider__item--1 {
  display: none;

  background-image: url("../img/slide1.jpg");
  background-repeat: no-repeat;
}

.slider__item--2 {
  background-image: url("../img/slide2.jpg");
  background-repeat: no-repeat;
}

.slider__item h4 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider__item p {
  margin-top: 5px;
  margin-bottom: 120px;
  margin-left: 5px;

  font-size: 18px;
  line-height: 24px;
}

.slider__button {
  margin-left: 5px;
  width: 197px;
}

.popular-goods__top,
.popular-firms__top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.popular-goods__top h2,
.popular-firms__top h2 {
  margin-top: 29px;
  margin-left: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.popular-goods__button,
.popular-firms__button {
  margin: 25px 24px 26px;
  width: 253px;
}

.popular-goods__list,
.popular-firms__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 21px;

  list-style: none;
}

.popular-firms__item {
  margin-bottom: 15px;
}

.popular-firms__item:hover img,
.popular-firms__item:focus img {
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.popular-firms__item:active img {
  opacity: 0.3;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.popular-firms {
  margin-bottom: 65px;
}

.card {
  position: relative;
  width: 220px;
  border: 1px solid #e5e5e5;

  text-align: center;
}

.card:hover,
.card:focus {
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card__actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 160px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.card:hover .card__actions {
  display: block;
}

.card__buy,
.card__bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  text-transform: uppercase;

  border: 3px solid #63a63e;
  border-radius:3px;
}

.card__buy {
  color: #ffffff;
  background-color: #63a63e;
  border-bottom-color: #367315;
}

.card__buy:hover,
.card__buy:focus {
  background-color: #5fbb2d;
}

.card__buy:active {
  background-color: #518534;
}

.card__bookmark {
  color: #32425c;
}

.card__bookmark:hover,
.card__bookmark:focus {
  border-color: #32425c;
}

.card__bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

.card__title {
  padding: 3px 20px 12px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.card__discount,
.card__price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__discount {
  min-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.card__price {
  position: relative;
  width: 133px;
  margin: 10px auto 20px;
  padding: 10px 30px;

  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.card__price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -28px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
}

.features__flag {
  top: 0;
  right: 0;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.services {
  background-color: #f4f7f9;
}

.services__title,
.about-us__title,
.contacts__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.services__title {
  padding-top: 64px;
  margin-bottom: 26px;
}

.services__text,
.about-us p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.services__text {
  width: 410px;

  font-size: 13px;
  line-height: 24px;
}

.services__slider {
  display: flex;
}

.services__list {
  margin-top: 57px;
  padding: 0;
  list-style: none;
}

.services__item {
  padding: 13px 22px 17px;
  width: 240px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;

  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background-color: #32425c;
}

.services__item--active {
  color: #32425c;

  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}

.services__slides {
  list-style: none;
  padding: 0;
  width: 700px;
}

.services__slide {
  display: block;
  padding-left: 80px;
  padding-top: 7px;
  padding-bottom: 30px;
}

.services__slide--delivery {
  background: url(../img/delivery.png) no-repeat 230px 65px;
}

.services__slide-title {
  margin-bottom: 28px;

  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.page-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
  margin-bottom: 86px;
}

.about-us {
  width: 540px;
}

.about-us p,
.contacts p {
  margin-top: 24px;
  margin-bottom: 23px;
  line-height: 24px;
}

.about-us__list {
  margin-bottom: 15px;
  padding-left: 36px;
  list-style: none;
}

.about-us__item {
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.about-us__button {
  width: 220px;
}

.contacts {
  width: 300px;
}

.contacts p {
  width: 200px;
  margin-bottom: 32px;
}

.contacts img {
  margin-bottom: 35px;
}

.modal {
  position: fixed;

  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
}

.modal__close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  font-size: 0;

  border: 0;

  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.modal__close::before,
.modal__close::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -3px;

  width: 27px;
  height: 4px;

  background-color: #ee3643;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.wright-us {
  display: none;
  top: 134px;
  left: 50%;
  margin-left: -310px;
  padding: 0 80px;

  width: 620px;
  border-top: solid 7px #ee3643;
}

.wright-us__top {
  display: flex;
  justify-content: space-between;

  margin-top: 46px;
  margin-bottom: 21px;
}

.wright-us__col {
  width: 220px;
}

.wright-us__form input[type="text"],
.wright-us__form input[type="email"] {
  margin-top: 8px;
  padding: 10px 15px 8px;
  width: 220px;
  border: 2px solid #dee3e4;
}

.wright-us__form textarea {
  margin-top: 8px;
  margin-bottom: 73px;
  padding: 10px 15px 8px;
  width: 460px;
  min-height: 114px;
  border: 2px solid #dee3e4;
}

.wright-us__button {
  margin-bottom: 37px;
  padding-top: 12px;
  width: 460px;
  border: none;
  border-radius: 4px;
}

.map {
  display: block;

  position: fixed;
  top: 50px;
  left: 50%;

  width: 940px;
  height: 447px;
  margin-left: -470px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  background-image: url(../img/map-big.jpg);
}

.wright-us__label {

  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.footer {
  background-color: #32425c;
}

.footer__top,
.footer__middle {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  width: 220px;
  height: 68px;
  padding: 21px 41px 16px;
  border-bottom: 5px solid #b52933;
  background-color: #ee3643;
}

.footer__site-menu,
.footer__goods-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
}

.footer__site-menu {
  max-width: 720px;
  padding-left: 0;
  padding-top: 40px;
}

.footer__site-menu li {
  margin-bottom: 31px;
}

.footer__menu-item {
  margin-left: 55px;
}

.footer__menu-item,
.footer__address {
  font-size: 18px;
  line-height: 24px;
}

.footer__site-menu a {
  color: #ffffff;
}

.footer__goods-menu a {
  color: #ffd180;
}

.footer__site-menu a:hover,
.footer__site-menu a:focus,
.footer__goods-menu a:hover,
.footer__goods-menu a:focus {
  text-decoration: underline;
}

.footer__site-menu a:active {
  color: rgba(255, 255, 255, 0.5);
}

.footer__goods-menu a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer__address {
  margin: 0;
}

.footer__tel {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer__middle {
  padding-bottom: 50px;
}

.footer__bottom {
  padding-top: 35px;
  background-color: #293449;
}

.footer__bottom div {
  display: flex;
  justify-content: space-between;

  padding-bottom: 30px;
}

.footer__copyright p,
.footer__feedback h2,
.footer__feedback a,
.footer__developed h2,
.footer__developed a {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
}

.footer__copyright p {
  width: 230px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  margin-left: 100px;
  padding: 0;
  width: 132px;
}

.footer__social-icon {
  display: block;

  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer__social-icon:hover,
.footer__social-icon:focus,
.footer__social-icon:active {
  background-color: #ee3643;
}

.footer__social-icon--vk {
  padding: 13px 8px;
}

.footer__social-icon--fb {
  padding: 10px 14px;
}

.footer__social-icon--insta {
  padding: 10px 9px;
}

.footer__feedback {
  margin-left: 50px;
}

.footer__developed {
  margin-right: 12px;
}

.footer__feedback a,
.footer__developed a {
  color: #ffd180;
}

.footer__feedback a:hover,
.footer__feedback a:focus,
.footer__developed a:hover,
.footer__developed a:focus {
  text-decoration: underline;
}

.footer__feedback a:active,
.footer__developed a:focus {
  color: #ee3643;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;

  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.page-container {
  display: flex;
  justify-content: space-between;
}

.page-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 700px;
}

.filter {
  width: 220px;
}

.filter__title,
.sort__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #f7f3ec;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filter__option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.filter__button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.sort {
  display: flex;
  justify-content: space-between;

  background-color: #f7f3ec;
}

.sort__list {
  display: flex;
  justify-content: space-between;
}

.sort__item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort__item--current a {
  color: #ee3643;
}

.sort__item a:hover,
.sort__item a:focus {
  color: #000000;
}

.sort__item a:active {
  color: #ee3643;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.pagination__list {
  display: flex;
  justify-content: flex-start;

  list-style: none;
}

.pagination__item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.pagination__item--current a {
  color: #ffffff;
  background-color: #ee3643;
}

.description {
  background-color: #f2f6f8;
}

.description__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.description__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.add-to-cart {
  display: none;
}

.modal__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.modal__bottom {
  background-color: #f1f1f1;
}

.add-to-cart-button {
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
