html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.red-button {
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.header__top {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
}

.header__menu,
.header__user-menu,
.header__nav-list {
  list-style: none;
}

.header__menu a,
.header__nav-list a {
  color: #ffffff;
}

.header__menu a:hover,
.header__menu a:focus {
  background-color: #212a3a;
}

.header__menu a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header__order {
  background-color: #63a63e;
}

a.header__order:hover,
a.header__order:focus {
  background-color: #5fbb2d;
}

a.header__order:active {
  background-color: #518534;
}

.header__bottom {
  background-color: #f3f7f9;
}

.header__title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header__tel {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header__address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header__user-menu a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

a.header__my-orders,
a.header__account {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.header__user-menu a:hover,
.header__user-menu a:focus {
  color: #ee3643;
}

a.header__profile:hover,
a.header__profile:focus {
  color: #000000;
}

.header__user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__nav-item {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
}

.header__nav-item:hover,
.header__nav-item:focus {
  background-color: #293449;
}

.header__nav-item:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.features {
  color: #ffffff;
  background-color: #ffffff;
}

.features__list {
  list-style: none;
}

.features__item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.features__item a {
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.features__item a:hover,
.features__item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.features__item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features__item--1 {
  background-color: #ffbf47;
}

.features__item--2 {
  background-color: #3bbce3;
}

.features__item--3 {
  background-color: #dc91d8;
}

.features__item--4 {
  background-color: #8ed78f;
}

.features__item--5 {
  background-color: #ffc047;
}

.slider__item--1 {
  background-image: url("../img/slide1.jpg");
  background-repeat: no-repeat;
}

.slider__item--2 {
  background-image: url("../img/slide2.jpg");
  background-repeat: no-repeat;
}

.slider__item h4 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider__item p {
  font-size: 18px;
  line-height: 24px;
}

.popular-goods__top,
.popular-firms__top {
  background-color: #f9f5f0;
}

.popular-goods__top h2,
.popular-firms__top h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.popular-goods__list,
.popular-firms__list {
  list-style: none;
}

.card__buy {
  text-transform: uppercase;
  color: #ffffff;

  background-color: #63a63e;
}

.card__buy:hover,
.card__buy:focus {
  background-color: #5fbb2d;
}

.card__buy:active {
  background-color: #518534;
}

.card__bookmark {
  text-transform: uppercase;
  color: #32425c;
}

.card__bookmark:active {
  color: rgba(50, 66, 92, 0.3);
}

.card__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.card__discount,
.card__price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__discount {
  color: #a9a9a9;
  text-decoration: line-through;
}

.card__price {
  color: #ffffff;
  background-color: #ee3643;
}

.services {
  background-color: #f4f7f9;
}

.services__title,
.about-us__title,
.contacts__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.services__text,
.about-us p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.about-us__list {
  list-style: none;
}

.about-us__item {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.wright-us__label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.footer__top,
.footer__middle {
  background-color: #32425c;
}

.footer__site-menu,
.footer__goods-menu {
  list-style: none;
}

.footer__menu-item,
.footer__address {
  font-size: 18px;
  line-height: 24px;
}

.footer__site-menu a {
  color: #ffffff;
}

.footer__goods-menu a {
  color: #ffd180;
}

.footer__site-menu a:hover,
.footer__site-menu a:focus,
.footer__goods-menu a:hover,
.footer__goods-menu a:focus {
  text-decoration: underline;
}

.footer__site-menu a:active {
  color: rgba(255, 255, 255, 0.5);
}

.footer__goods-menu a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer__tel {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer__bottom {
  background-color: #293449;
}

.footer__copyright p,
.footer__feedback h2,
.footer__feedback a,
.footer__developed h2,
.footer__developed a {
  font-size: 16px;
  line-height: 18px;
}

.footer__social-list {
  list-style: none;
}

.footer__feedback a,
.footer__developed a {
  color: #ffd180;
}

.footer__feedback a:hover,
.footer__feedback a:focus,
.footer__developed a:hover,
.footer__developed a:focus {
  text-decoration: underline;
}

.footer__feedback a:active,
.footer__developed a:focus {
  color: #ee3643;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter__title,
.sort__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #f7f3ec;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filter__option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.filter__button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.sort {
  background-color: #f7f3ec;
}

.sort__item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort__item--current a {
  color: #ee3643;
}

.sort__item a:hover,
.sort__item a:focus {
  color: #000000;
}

.sort__item a:active {
  color: #ee3643;
}

.catalog__list {
  list-style: none;
}

.pagination__list {
  list-style: none;
}

.pagination__item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.pagination__item--current a {
  color: #ffffff;
  background-color: #ee3643;
}

.description {
  background-color: #f2f6f8;
}

.description__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.description__text {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.modal__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.modal__bottom {
  background-color: #f1f1f1;
}

.add-to-cart-button {
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
